{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}       
        
{% block content %}
<br>
<br>
<br>
    <div style="display: flex; flex-direction: column; justify-content: flex-start;">
        <h1>User: abc</h1>        
        <p>Hobby : </p>
        <p>Last seen on: <span class="" data-timestamp="2022-04-23T07:44:18Z" data-format="format('LLL')" data-refresh="0">April 23, 2022 12:44 AM</span></p>

        <p>0 followers, 0 following.</p>
        <div style="display: flex; ">
            <button type="button" style="margin-right: 60px;" class="btn btn-outline-primary">Follow</button>
            <button type="button" class="btn btn-outline-danger">unFollow</button>
        </div>
        <button type="button" style=" margin-top: 10px; width: 50%; " class="btn btn-outline-primary"><a style="text-decoration: none; color:black;" href="/dashboard">Edit your profile</a></button>
        
    </div>

{% endblock %}